html {
  scroll-behavior: smooth;
}

@import "tailwindcss";

/* base style */
.max__width {
  @apply max-w-[80vw] mx-auto;
}
.title {
  @apply text-5xl font-bold text-white text-shadow-2xs ;
}
.subTitle {
  @apply text-3xl font-bold text-white text-shadow-2xs;
}

.para {
  @apply text-base font-medium text-white text-shadow-2xs ;
}

/* .commonbtn {
  @apply  flex items-center gap-2 cursor-pointer bg-[#ffffff] py-2 px-8 rounded-full text-sm font-medium border border-black/5  shadow ease-in-out duration-500  text-black;
} */

/* .primary__button {
  @apply   ;
} */

/* common styles */

/* page styles */

