html {
  scroll-behavior: smooth;
}

@import "tailwindcss";

/* base style */
.lR__gap {
  @apply px-5 md:px-10 xl:px-0;
}
.max__width {
  @apply w-[95vw]  xl:max-w-[90vw] mx-auto;
}

.section__top {
  @apply mt-[20vh]
}
.title {
  @apply text-2xl md:text-3xl xl:text-4xl 2xl:text-5xl font-bold text-black/80 text-shadow-2xs;
}
.subTitle {
  @apply text-xl md:text-2xl xl:text-3xl font-bold text-black/80  text-shadow-2xs;
}

.para {
  @apply text-sm  xl:text-base 2xl:text-lg font-medium text-black/60  text-shadow-2xs;
}

.card__title {
  @apply text-lg md:text-2xl font-bold text-black/80 mb-2;
}

.btn__sytle {
  @apply flex items-center gap-2 text-base  font-medium hover:bg-black text-black/80 bg-white backdrop-blur-md py-2 px-8 rounded-full border border-black/5  shadow ease-in-out duration-500  text-shadow-2xs hover:text-white cursor-pointer;
}

/* common styles */

.ic__common__close {
  @apply text-red-500 hover:text-red-700 text-3xl cursor-pointer;
}

.ic__common__label {
  @apply block text-base font-medium  text-black;
}

.ic__common__input {
  @apply mt-2 w-full px-3 py-2 rounded-lg border border-black/10 text-black outline-none;
}

.ic__common__msg {
  @apply text-xs text-gray-500 mt-1;
}

/* page styles */
/* home banner styles */

.ic__main__title {
  @apply text-2xl md:text-3xl xl:text-5xl 2xl:text-7xl font-black text-white/80 text-shadow-2xs;
}

.ic__para {
  @apply text-base xl:text-lg font-medium text-white/80 text-shadow-2xs;
  }

.ic__logo {
  @apply w-[25vw] md:w-[15vw] xl:w-[10vw] h-full;
}
/* .ic__h__parent {
  @apply flex justify-center items-center h-full relative max-w-7xl mx-auto;
}

.ic__h__child__parent {
  @apply bg-white/80 px-5 py-10 xl:px-10 xl:py-10 rounded-3xl z-50 shadow;
}

.ic__h__para__wrapper {
  @apply space-y-2 pt-5  pb-10 max-w-2xl;
}

.ic__h__btns__parent {
  @apply flex flex-wrap gap-x-5 gap-y-3 xl:gap-y-0 items-center;
} */

/* ================================================================= */
/* works modal  */
.ic__w__parent__wrapper {
  @apply border border-black/10   max-w-2xl mx-auto  rounded-2xl hover:shadow p-6;
}
/* ================================================================= */
/* ================================================================= */
/* intercom styles  */
.ic__i__wrapper {
  @apply px-5 py-10 xl:p-10 bg-white  rounded-2xl;
}

.ic__i__card__container {
  @apply max-h-[60vh] xl:max-h-screen overflow-y-scroll;
}

.ic__i__cards__parent {
  @apply grid md:grid-cols-3 gap-5  h-full overflow-y-scroll  rounded-2xl;
}

.ic__card__parent {
  @apply h-full p-5 shadow bg-gray-100  rounded-2xl cursor-pointer text-black overflow-hidden;
}

.ic__i__card__sm__title {
  @apply font-semibold mb-2 text-sm;
}
.ic__i__card__title {
  @apply text-xl font-bold text-black mb-1;
}

.ic__i__card__price {
  @apply text-2xl font-bold italic;
}
/* ================================================================= */
/* ===================== active cancel modal styles ============================================ */

.ic__ac__parent {
  @apply w-full max-w-7xl bg-white/80 rounded-2xl shadow-lg p-6 sm:p-10 xl:p-20;
}

.ic__ac__header__parent {
  @apply flex justify-center md:text-center items-center gap-5  mb-8  w-full;
}

.ic__ac__tab__btn {
  @apply px-4 py-2 font-medium text-base cursor-pointer;
}
.ic__ac__tab__active {
  @apply border-b-2 border-black/80 text-black;
}
.ic__ac__form__wrapper {
  @apply p-5 bg-gray-100 rounded-2xl shadow flex flex-col w-full;
}

/* footer styles here */

.ic__h__footer__wrapper {
  @apply flex flex-wrap items-center gap-x-5 gap-y-2.5 xl:gap-y-0 justify-between  w-full;
}

.ic__h__footer__email {
  @apply flex items-center gap-1 bg-white py-2 px-8 rounded-full;
}

.ic__h__icon__wrapper {
  @apply flex items-center gap-4 border border-black/10 backdrop-blur-2xl py-3 px-8 rounded-full;
}

.ic__h__footer__icon {
  @apply hover:text-black hover:scale-125 transition-all ease-in-out duration-500;
}

/* ===================================================================== */

/* For Chrome, Safari, Edge */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
html {
  scrollbar-width: none;
}

/* For IE and Edge */
html {
  -ms-overflow-style: none;
}
