html {
  scroll-behavior: smooth;
}

@import "tailwindcss";

/* base style */
.max__width {
  @apply max-w-[80vw] mx-auto;
}
.title {
  @apply text-5xl font-bold text-black/80 text-shadow-2xs;
}
.subTitle {
  @apply text-3xl font-bold text-black/80  text-shadow-2xs;
}

.para {
  @apply text-base font-medium text-black/80  text-shadow-2xs;
}

.btn__sytle {
  @apply flex items-center gap-2 cursor-pointer bg-white text-black hover:bg-black  py-2 px-8 rounded-full text-sm font-medium border border-black/5  text-shadow-2xs shadow ease-in-out duration-500  hover:text-white
}

/* .commonbtn {
  @apply  flex items-center gap-2 cursor-pointer bg-[#ffffff] py-2 px-8 rounded-full text-sm font-medium border border-black/5  shadow ease-in-out duration-500  text-black;
} */

/* .primary__button {
  @apply   ;
} */

/* common styles */

/* page styles */

/* For Chrome, Safari, Edge */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
html {
  scrollbar-width: none;
}

/* For IE and Edge */
html {
  -ms-overflow-style: none;
}
